<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByNuLEb-D6tkFev9PLWdlCwMI-GsWT88U</string>
	<key>GCM_SENDER_ID</key>
	<string>998937857944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lgtng.petvidade</string>
	<key>PROJECT_ID</key>
	<string>petvidade-app</string>
	<key>STORAGE_BUCKET</key>
	<string>petvidade-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998937857944:ios:2116c5c8a490e9eb8325ed</string>
</dict>
</plist>